# Project files.
/assets/*
!/assets/maps/
/pkgs/
/stock/

# IDE files.
.idea/*
!.idea/cmake.xml
!.idea/runConfigurations/
vcpkg_root

# CMake files.
CMakeUserPresets.json

# Library files.
*.a
*.dll
*.dylib
*.la
*.lai
*.lib
*.so

# Build files.
/bin/
/build/
*.d
*.dwo
*.gch
*.ilk
*.lo
*.mod
*.o
*.obj
*.pch
*.pdb
*.slo
*.smod

# Executable files.
*.app
*.AppImage
*.exe
*.out
