# Project files.
/assets/*
!/assets/maps/
/pkgs/
stock/

TODO.cpp

# IDE files.
.idea/*
!.idea/cmake.xml
!.idea/runConfigurations/
vcpkg_root

# CMake files.
CMakeUserPresets.json

# Library files.
*.a
*.dll
*.dylib
*.la
*.lai
*.lib
*.so

# Build files.
build/

*.d
*.dwo
*.gch
*.ilk
*.lo
*.mod
*.o
*.obj
*.pch
*.pdb
*.slo
*.smod

# Executables.
bin/

*.app
*.AppImage
*.exe
*.out
