*.a
*.app
*.AppImage
*.bmp
*.d
*.dll
*.dylib
*.exe
*.gch
*.gif
*.icns
*.ico
*.jpeg
*.jpg
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.ogg
*.out
*.pch
*.png
*.slo
*.smod
*.so

CMakeUserPresets.json
/vcpkg

/.idea/*
!/.idea/cmake.xml
!/.idea/runConfigurations/
/bin/
/bin_web/
/build/
/build_web/
/stock/
