[Desktop Entry]
###
# == Install ==
# To install manually, change these to absolute paths:
#   Icon=/home/<username>/Applications/EkoScape/assets/icons/com.github.esotericpig.EkoScape.png
#   Exec=/home/<username>/Applications/EkoScape/EkoScape-x86_64.AppImage
#
# NOTE: The `assets/` folder must be in the same folder as the AppImage!
#
# Finally, run this:
#   xdg-desktop-menu install --novendor com.github.esotericpig.EkoScape.desktop
#
# This will usually install to `~/.local/share/applications`.
#
# If it doesn't appear, you might also need to run one or both of these:
#   xdg-desktop-menu forceupdate
#   update-desktop-database ~/.local/share/applications
#
# == Uninstall ==
# To uninstall:
#   xdg-desktop-menu uninstall com.github.esotericpig.EkoScape.desktop
###

# - https://specifications.freedesktop.org/desktop-entry-spec/latest/recognized-keys.html
Type=Application
Name=EkoScape
GenericName=3D Game
Comment=Simple 3D step-based game, like a 3D Pac-Man

#Icon=/home/<username>/Applications/EkoScape/assets/icons/com.github.esotericpig.EkoScape.png
Icon=com.github.esotericpig.EkoScape
#TryExec=EkoScape
#Exec=/home/<username>/Applications/EkoScape/EkoScape-x86_64.AppImage
Exec=EkoScape
#Path=
Terminal=false

# - https://specifications.freedesktop.org/menu-spec/latest/category-registry.html
# - https://specifications.freedesktop.org/menu-spec/latest/additional-category-registry.html
Categories=Game;ArcadeGame;
Keywords=3D;game;games;arcade;

StartupWMClass=EkoScape
PrefersNonDefaultGPU=true
