/*
 * This file is part of EkoScape.
 * Copyright (c) 2024 Bradley Whited
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

// TODO: Add DPI support?
//       - https://learn.microsoft.com/en-us/windows/win32/learnwin32/dpi-and-device-independent-pixels
//       - https://learn.microsoft.com/en-us/windows/win32/direct2d/direct2d-and-high-dpi
//       - https://learn.microsoft.com/en-us/windows/win32/direct2d/how-to--size-a-window-properly-for-high-dpi-displays

#define IDI_EKOSCAPE_ICON 101

IDI_EKOSCAPE_ICON ICON "../assets/icons/EkoScape.ico"
